* {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
.container {
  display: flex;
  background: url("./background.jpg");
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.hero_image {
  width: 550px;
  margin-top: 51px;
}
.left_content h2 {
  font-family: "Roboto Condensed", sans-serif;
  color: #4b5562;
  font-size: 40px;
  font-weight: 400;
}
.left_content hr {
  width: 200px;
  height: 10px;
  background: #b5c6dc;
  border: none;
}
.left_content p {
  font-family: "Open Sans", sans-serif;
}

.left_content {
  margin-top: 30px;
}
.tag {
  margin-top: 25px;
}
.left_content p {
  font-style: italic;
  font-size: 20px;
  color: #64695f;
  margin-top: 25px;
}
.btn a {
  text-decoration: none;
  color: white;
  background: #25292e;
  padding: 12px 32px;
  font-family: "Roboto", sans-serif;
  border: none;
  letter-spacing: 4px;
}
.btn {
  margin-top: 40px;
  padding-bottom: 65px;
}
.title {
  font-family: "Roboto Condensed";
  font-size: 80px;
  color: #f00e10;
  font-weight: 500;
  margin-bottom: -15px;
}
@media screen and (max-width: 768px) {
  .container {
    display: flex;

    flex-direction: column-reverse;
  }
}
